/* 
    Document   : error
    Created on : 26-feb-2012, 0:21:36
    Author     : Esbanarango
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

.errorInput 
{
    border: 1px ridge rgba(255, 99, 99, 0.2) !important;
    -moz-box-shadow: 0 2px 6px rgba(255, 99, 99, 0.7) !important;  
    -webkit-box-shadow: 0 2px 6px rgba(255, 99, 99, 0.7) !important; 
    box-shadow: 0 2px 6px rgba(255, 99, 99, 0.7) !important; 

}

.errorAlert
{
    position: absolute;
    display: block !important;
    color: #C2504F;
    list-style: circle;
    margin: 0;
    padding: 0;
    padding-left: 25px;
    font-size: 10px;

}

