/* 
    Document   : stylesheet
    Created on : 29-oct-2010, 13:39:18
    Author     : Arango
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS3/
*/

body 
{
    margin: 0;
    
}

.container
{
    width: 920px;
    margin: 0 auto;
    padding: 0 40px;


}

.page-header
{
    width: 1100px;
    height: auto;
    margin: 0px auto;
    margin-left: 130px;
    text-align: left;
    border-radius: 0px 0px 50px 8px;
    -moz-border-radius: 0px 0px 50px 8px;
    -webkit-border-radius: 0px 0px 50px 8px;
    background: #FEFED1 url(/public/Images/layout/bg-texture-light.png) repeat;
     text-shadow:0px 1px 2px rgba(37, 33, 35, 0.9);
    -moz-text-shadow:0px 1px 2px rgba(37, 33, 35, 0.9);
    -webkit-text-shadow:0px 1px 2px rgba(37, 33, 35, 0.9);
    /*background: url(/public/Images/alejoLeyendo.png) no-repeat center right;
    background: url(/public/Images/alejoLeyendo.png) no-repeat center right,
        url(/public/Images/bg-texture-light.png) repeat;*/
}
.page-header h1
{
    margin: 0;
    padding-left: 20px;
    padding-top: 10px;
    color: #DC692E;
    font-size: 130px;
    font-family: ForelleRegular, helvetica;
}

.page-header h2
{
    margin: 0;
    color: #DC692E;
    font-size: 99px;
    font-family: ForelleRegular, helvetica;
}


.izq-header{
    padding: 10px;
    padding-left: 3px;
    width: 100px;
    height: 30px;
    float: left; 
    color: #fff;
     background-color: #85B401;
    /* mozila code */
background-image: -moz-linear-gradient(left, right, from(#A1D004),to(#6B9A00));

   	/* webkit code */
background-image: -webkit-gradient(linear, left top, left bottom,
                   	 	  color-stop(0.00, #A1D004),   
                  		  color-stop(1.00, #6B9A00));

   	/* IE code - note GradientType=0 means vertical */
filter: progid:DXImageTransform.Microsoft.gradient(enabled='true',
                startColorstr=#A1D004, 
               endColorstr=#6B9A00, 
               GradientType=0);
    
    border-radius: 0px 0px 50px 0px;
    -moz-border-radius: 0px 0px 50px 0px;
    -webkit-border-radius: 0px 0px 50px 0px;
}

.page-footer
{
    width: 970px;
    margin: 0 auto;
    text-align: center;
}


.clear
{
    clear: both;
}
.separador_x
{
    width: 10px;
    height: 10px;
    float: left;
}
.separador_y
{
    width: 10px;
    height: 10px;
}

.imagen_alejo{
    
     padding-top: 20px;
     float: right; 
     text-align: right;
     opacity:0.6;
     -webkit-transition: opacity .4s ease-in-out;
     -moz-transition: opacity .4s ease-in-out;
     -o-transition: opacity .4s ease-in-out;
     transition: opacity .4s ease-in-out;
}

.imagen_alejo:hover{
    
     /*padding-top: 50px;
     float: right; 
     text-align: right;*/
     opacity:0.9
}

.section{
    background: rgba(200, 208, 208, 0.3);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    margin: 0 auto;
    position: relative;
    width: 920px;
    height: 500px;
    z-index: 1;
    
}

.blancoArriba{
    background: rgba(255, 255, 255, 0.9);
    -webkit-border-radius: 0px 0px 0px 4px;
    -moz-border-radius: 0px 0px 0px 4px;
    -o-border-radius: 0px 0px 0px 4px;
    border-radius: 0px 0px 0px 4px;
    float: right; 
    width: 190px;
    height: 190px;
    padding-left:10px;
    padding-bottom: 10px;
    
}

.adentroBlanco{
    -webkit-border-radius: 0px 2px 0px 4px;
    -moz-border-radius: 0px 2px 0px 4px;
    -o-border-radius: 0px 2px 0px 4px;
    border-radius: 0px 2px 0px 4px;
    width: 190px;
    height: 190px;
    background-color: rgba(37, 33, 35, 0.8);
}